.customer .head{
    margin-top: 80px;
}
.customer .head h3{
    border: 1px solid #fff;
    width: 450px;
    margin-left: 500px;
    font-size: 40px;

}
.customer .head p {
    border: 1px solid #fff;
    width: 500px;
    margin-left: 500px;
    font-size: 15px;

}
.review{
    display: flex;
    margin:0px 0px 20px 40px;
}
.review .review-box{
    border:1px solid rgb(198, 197, 197);
    border-radius: 15px;
    width: 380px;
    margin: 60px 0px 0px 65px;
    padding: 20px;
   
    
}
.review .review-box:hover{
    border: 1px solid #e93d3e;
}
.review .review-box .name{
    margin-top: 20px;
}

.review .review-box .name img {
    width: 50px;
   display: flex;
   position: absolute;

}
.review .review-box .name h4{
    text-align: left;
    margin-left: 70px;
    
}
.review .review-box .name p {
    text-align: left;
    margin-left: 70px;
    position: absolute;
}
.review .review-box .rating p{
    margin:-15px 0px 0px 230px 
}
.review .review-box .comment p{
    margin: 50px 0px 0px 0px ;
  text-align: left;
  font-size: 12px;
}
@media(max-width:991px) {

    html {
        font-size: 100%;
    }
        .customer .head {
            margin-top: 80px;
        }

   
}

@media(max-width:768px) {

.customer .head h3 {
        border: 1px solid #fff;
        width: 300px;
        margin-left: 50px;
        font-size: 25px;

    }

    .customer .head p {
        border: 1px solid #fff;
        width: 300px;
        margin-left: 50px;
        font-size: 10px;

    }
        .review {
           display: list-item;
            margin: 0px 0px 20px 0px;
        }
    
        .review .review-box {
            border: 1px solid rgb(198, 197, 197);
            border-radius: 15px;
            width: 300px;
            margin: 60px 0px 0px 30px;
            padding: 20px;
    
    
        }
    
        .review .review-box .name {
            margin-top: 10px;
        }
    
        .review .review-box .name img {
            width: 40px;
            display: flex;
            position: absolute;
    
        }
    
        .review .review-box .name h4 {
            text-align: left;
            margin-left: 70px;
    
        }
    
        .review .review-box .name p {
            text-align: left;
            margin-left: 70px;
            position: absolute;
        }
    
        .review .review-box .rating p {
            margin: -15px 0px 0px 230px
        }
    
        .review .review-box .comment p {
            margin: 50px 0px 0px 0px;
            text-align: left;
            font-size: 12px;
        }


    


}